.Container {
  height: 100vh;
  background: #f6f7f7;
}

.LogoFormCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LogoForm {
  display: flex;
  flex-direction: column;
}

.Logo {
  width: auto;
  height: 60px;
  margin: auto;
  margin-bottom: 30px;
}
